{% extends "base.html" %}

{% block content %}
    <h1>Liste des courses</h1>
    {% if CourseList %}
        <table>
            <thead>
                <tr>
                    {% for field_name in field_names %}
                        <th>{{ field_name|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for course in CourseList %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.Nom }}</td>
                        <td>{{ course.Annee }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune course n'est disponible.</p>
    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}