{% load static %}
<div id="chart-container" style="width: 98%; height: 500px;">
    {{ plot|safe }}
</div>
<script>console.log("Chart Config Stats:", JSON.stringify(window.chartConfig.stats, null, 2))</script>
<div id="statistics-container">
    <h3>Statistiques</h3>
        <div id="dynamic-stats-container"></div>
</div>
<div id="progress-info-container">
    <div id="progress-info">
        Résultats traités : <span id="loaded-count">{{ loaded_count }}</span> / <span id="total-count">{{ total_count }}</span>
    </div>
    <div id="countdown">Chargement du compte à rebours...</div>
</div>
    <script src="{% static 'js/dynamicStat.js' %}"></script>
<script src="{% static 'js/chart_update.js' %}"></script>
    <script src="{% static 'js/buttoncat.js' %}"></script>

