{% extends "base.html" %}
{% csrf_token %}
{% load static %}

{% block content %}
    <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>

    </head>
    <script src="{% static 'js/ScoreDistribution.js' %}"></script>
    <script src="{% static 'js/D3.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <h2>Distribution et évolution des scores</h2>

<p>
Le score de vitesse est établi avec deux sous-scores. Chaque sous-score vaut pour 50 % de la note. Le premier sous score est fait en utilisant la vitesse et en la normalisant sur la moyenne des vitesses pour des coureurs
    de la même catégorie (simplifiée (tranche d'âge plus large)) sur l'ensemble des courses correspondant en distance de la course de la performance étudiée pour
des tranches de distances de 0 à 7,5 km, 7,5 km à 15 km, 15 km à 25 km, 25 km à 45 km et plus de 45 km. Le second sous-score correspond à la vitesse de la performance cette fois-ci normalisée avec la médiane des vitesses des performances pour la catégorie (non simplifiée cette fois-ci) du coureur pour la course ou a eu lieu la performance. S'il y avait moins de six personnes dans la catégorie la médiane pour l'ensemble des coureurs du même sexe a été utilisé.
Un paramètre enfin de type de course et du nombre de participants tente de légèrement influencer ce dernier sous score en fonction de la compétitivité potentiellement plus accrue ou moins accrue selon les courses (cross avec beaucoup de monde compétitivité accrue, tandis-ce que des foulées avec un nombre moyen de personnes semblent être des épreuves peu compétitives).
</p>
    <p>Le score de performance est établi avec 80 % de normalisation par rapport à la vitesse médiane de la catégorie sur la course et 20 % avec la vitesse de la performance divisée par la médiane de la vitesse sur la course pour la catégorie considérée, le tout au carré divisé par le temps de course réalisé (normalisé à 3h). Ce score permet de
    mettre en valeur les prouesses sportives sur les grandes distances.</p>
            <h3>Evolution des scores de tous les coureurs</h3>

            <div class="controls">
                <form id="scoreFormLeft">
                    <label>
                        <input type="radio" name="scoreType" value="vitesse" checked> Vitesse
                    </label>
                    <label>
                        <input type="radio" name="scoreType" value="global"> Global
                    </label>
                </form>
            </div>

<div class="js-plotly-plot" id="graph-1-container">     {{ graph1|safe }} </div>



            <h3>Evolution de la performance par % arrivée catégorie</h3>

            <div class="controls">
                <form id="scoreFormRight">
                    <!-- Type de score -->
                    <div class="radio-group">
                        <h4>Type de score :</h4>
                        <label><input type="radio" name="scoreType" value="vitesse" checked> Vitesse</label>
                        <label><input type="radio" name="scoreType" value="global"> Global</label>
                    </div>

                    <!-- Niveaux de performance -->
                    <div class="radio-group">
                        <h4>Niveaux de performance :</h4>
                        <label><input type="radio" name="performanceTier" value="quartiles" checked> Tous (tranches 25%)</label>
                        <label><input type="radio" name="performanceTier" value="top35"> Top 35% (tranches 5%)</label>
                        <label><input type="radio" name="performanceTier" value="bottom80"> Bottom 80% (tranches 10%)</label>
                    </div>

                    <!-- Cohorte -->
                    <div class="radio-group">
                        <h4>Population :</h4>
                        <label><input type="radio" name="cohortType" value="tous" checked> Performances uniques</label>
                        <label><input type="radio" name="cohortType" value="viables"> Séries Temporelles de Coureurs identifiés identiques</label>
                    </div>
                    <div>
                        <p>
                            Environ 3000 coureurs uniques ont été détectés parmi les 300000 performances sportives récupérées, ils correspondent à des performances de personnes
                            ayant le même nom et prénom et dont l'évolution des catégories en fonction des années est plausibles. Lors de la fusion de ces performances pour un même coureur
                            un score de viabilité a été établi en fonction de l'occurrence du nom et du prénom dans les performance et la vitesse en fonction de la distance pour les différentes
                            performances appartenant à un même coureur.
                        </p>
                    </div>
                </form>
            </div>
                {{ graph_data.series_formatees|json_script:"series-data" }}
            <div class="graph-container">

            </div>


    <!-- Scripts -->
    <script src="{% static 'plotly.js-dist/plotly.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
