{% extends "base.html" %}
{% csrf_token %}
{% load static %}
{% block content %}
<h2>Distribution des vitesses</h2>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{{ refresh_interval|default:"25000"|json_script:"refresh_interval" }}
    {{ total_count|default:"0"|json_script:"total_count" }}
    {{ loaded_count|default:"0"|json_script:"loaded_count" }}
    {{ min_distance|default:"5000"|json_script:"min_distance" }}
    {{ max_distance|default:"10000"|json_script:"max_distance" }}
    {{ type_list|default:"['Course sur route', 'Foulee']"|json_script:"type_list" }}
    {{ stats|default:"[]"|json_script:"stats" }}
        {{ categories|default:"['F','M']"|json_script:"categories" }}
            {{ series_categories|json_script:"series_categories" }}
    {{ is_update|default:False|json_script:"is_update" }}
    {{ mode|default:'classique'|json_script:"mode" }}
    {{ colors|json_script:"colors" }}
<div style="display: none;">
    <span id="refresh_interval">{{ refresh_interval|default:"25000" }}</span>
    <span id="total_count">{{ total_count|default:"0" }}</span>
    <span id="loaded_count">{{ loaded_count|default:"0" }}</span>
    <span id="min_distance">{{ min_distance|default:"5000" }}</span>
    <span id="max_distance">{{ max_distance|default:"10000"}}</span>
    <span id="type_list">{{ type_list|default:"['Course sur route', 'Foulee']"|safe}}</span>
        <span id="categories">{{ categories|default:"['F', 'M']"|safe}}</span>
            <span id="series_categories">{{ series_categories|safe}}</span>
    <span id="stats">{{ stats|default:"[]"|safe}}</span>
    <span id="mode">{{ mode|default:"classique"}}</span>
<span id="colors_presets">{{ colors_presets }}</span>
</div>
<script>
window.isRefreshing = false;
</script>
<script src="{% static 'js/chartConfig.js' %}"></script>

    <button id="categorieSimplifieeButton">
        <!-- Texte initial basé sur le mode -->
        Passer en mode Catégories Simplifiées
    </button>
<div id="course-types">
  <label>
    <input type="checkbox" name="course-type" value="Foulee" checked> Foulée
  </label>
  <label>
    <input type="checkbox" name="course-type" value="Course sur route" checked> Course sur route
  </label>
  <label>
    <input type="checkbox" name="course-type" value="Cross"> Cross
  </label>
  <label>
    <input type="checkbox" name="course-type" value="Triathlon"> Triathlon
  </label>
  <label>
    <input type="checkbox" name="course-type" value="Trail"> Trail
  </label>
    </div>
<div id="select_categorie" class="majorone">
    <div id="all_categorie" class="category-container" data-categories="{{ categories_json|safe }}">
    </div>
    <div id="categorie_selected" class="group-of-category-container">
        <div id="buttonsdiv" class="buttondiv">
            <div id="bouton+" class="control-button">
                <button>Ajouter une série</button>
            </div>
            <div id="bouton-" class="control-button">
                <button>Supprimer une série</button>
            </div>
        </div>
        <div id="series_container" class="series-wrapper">
            <!-- Les séries seront ajoutées ici -->
        </div>
    </div>
</div>

        <script src="{% static 'js/dragAndDrop.js' %}"></script>
<script src="{% static 'js/createDeleteSeries.js' %}"></script>
<script src="{% static 'js/courseTypes.js' %}"></script>
<script src="{% static 'plotly.js-dist/plotly.js' %}"></script>
      <script src="{% static 'js/updateCountdown.js' %}"></script>
        <script src="{% static 'js/updateStats.js' %}"></script>

<div class="range-container" style="width: 50%; margin: 20px auto;">
      <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
  <script src="{% static 'js/nouislider.min.js' %}"></script>
  <div id="slider"></div>
  <div id="slider-values">5 km - 10 km</div>
  <button id="submit-filter">Appliquer le filtre</button>
</div>

<script>
function resetContainer() {
  const container = document.getElementById('chart-container');
  const progressinfo = document.getElementById('progress-info');
  const countdown = document.getElementById('countdown');

  if (container) {
    container.innerHTML = '';
  }
  if (progressinfo) {
    progressinfo.innerHTML = '';
  }
  if (countdown) {
    countdown.innerHTML = '';
  }
}
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var slider = document.getElementById('slider');
  var sliderValues = document.getElementById('slider-values');

  noUiSlider.create(slider, {
    start: [5, 10],
    connect: true,
    range: {
      'min': 900,
      'max': 60000
    },
    step: 100,
    format: {
      to: function(value) {
        return Math.round(value / 1000 * 10) / 10 + ' km';
      },
      from: function(value) {
        return value.replace(' km', '') * 1000;
      }
    }
  });

  slider.noUiSlider.on('update', function(values) {
    sliderValues.innerHTML = values.join(' - ');
  });
});
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const seriesContainer = document.getElementById('series_container');

    // Vérifiez que l'élément existe
    if (!seriesContainer) {
        console.error("L'élément #series_container est introuvable.");
        return;
    }

    // Configurez le MutationObserver
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (mutation.type === 'childList') {
                console.log('Mutation détectée : ajout ou suppression d\'enfants');
                window.chartConfig.seriesCategories = updateSeriesCategories();
                console.log('Mise à jour de window.chartConfig:', window.chartConfig);
            }
        });
    });

    // Commencez à observer le conteneur
    observer.observe(seriesContainer, {
        childList: true, // Surveille les ajouts/suppressions d'enfants
        subtree: true,   // Surveille également les descendants
    });

    console.log("MutationObserver attaché à #series_container");
});
</script>
    <script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    </script>
{% csrf_token %}
<script>
document.getElementById('submit-filter').addEventListener('click', function() {
    console.log('Bouton submit-filter cliqué');
    window.isRefreshing = true;

    var values = slider.noUiSlider.get();
    var minDistance = parseFloat(values[0]) * 1000;
    var maxDistance = parseFloat(values[1]) * 1000;
    var selectcategories = updateSeriesCategories('series_categories');
    window.chartConfig.minDistance = minDistance;
    window.chartConfig.maxDistance = maxDistance;
    var type_list = window.chartConfig.typeList
    console.log('Valeurs du slider:', minDistance, maxDistance);
    console.log('Catégories sélectionnées:', selectcategories);


    var selectedCourseTypes = Array.isArray(window.chartConfig.typeList)
        ? window.chartConfig.typeList
        : [window.chartConfig.typeList];

    console.log('Types de courses sélectionnés:', selectedCourseTypes);

    var postData = {
        min_distance: minDistance,
        max_distance: maxDistance,
        course_types: type_list,
        action: 'submit',
        seriesCategories: selectcategories || {},
        mode: window.chartConfig.mode,
        colors: window.chartConfig.colors
    };

    console.log('Données à envoyer:', postData);

    const jsonData = JSON.stringify(postData);
    console.log('Données JSON:', jsonData);

    // Récupérer le jeton CSRF
    let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]')?.value;
    if (!csrftoken) {
        csrftoken = getCookie('csrf_token');
    }

    if (!csrftoken) {
        console.error('CSRF token not found. Request may fail.');
    }

    fetch('/graph/vitesse-distribution/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            'X-Requested-With': 'XMLHttpRequest'
        },
        body: jsonData
    })
.then(response => {
    if (!response.ok) {
        throw new Error('Network response was not ok');
    }
    return response.json(); // Changez ici pour récupérer les données JSON
})
.then(data => { // data contiendra l'objet JSON
    if (data.html) {
        console.log('HTML reçu');
        resetContainer();
        document.getElementById('global').innerHTML = data.html;

      // Extraire les données du DOM
      const loadedCountElement = document.getElementById('loaded-count');
      const totalCountElement = document.getElementById('total-count');

      // Mettre à jour window.chartConfig
      window.chartConfig.loadedCount = parseInt(loadedCountElement.textContent)
      window.chartConfig.totalCount = parseInt(totalCountElement.textContent)
      // Mettre à jour window.chartConfig avec les données reçues
      window.chartConfig.stats = data.chartData.stats; // Récupérer les stats depuis data.chartData
      if (data.chartData.stats) {
        generateStatsDivs(data.chartData.stats);
        updateStatistics(window.chartConfig.stats); // Mettre à jour les statistiques
        console.log('submitting new stat')
        }


      console.log('window.chartConfig:' + window.chartConfig);


      // Obtenir l'élément de compte à rebours
      const countdownElement = document.getElementById('countdown');


                  // Exécuter les scripts inclus dans le HTML
      const scripts = document.getElementById('chart-container').querySelectorAll('script');
      scripts.forEach(script => {
        const newScript = document.createElement('script');
        newScript.textContent = script.textContent;
        document.body.appendChild(newScript);
      });

      var refreshTime  = window.chartConfig.refreshInterval
      console.log('window.chartConfig.refreshInterval',Math.floor(refreshTime / 1000))
      // Relancer le compte à rebours à partir de zéro
      updateCountdown({
        countdown: Math.floor(refreshTime / 1000),
        message: "Prochaine mise à jour dans {seconds} secondes"
      }, countdownElement, postUpdates);  // Ajouter postUpdates comme callback
      } else {
        console.error('Unexpected response format');
      }

  })
  .catch(error => {
    console.error('Erreur:', error);
  })
  .finally(() => {
    console.log('Requête terminée');
    window.isRefreshing = false;
  });
});
</script>

    <div id="global" style="width: 100%; height: 620px;">
    {% include 'graph/partial_vitesse_distribution.html' %}
</div>
    <div>
    <h4>
        Hypothèse de la plus grande variance masculine
    </h4>
    <p>
Les études scientifiques portant sur les différences entre hommes et femmes mettent en évidence, dans la littérature académique,
        une variabilité phénotypique généralement plus importante chez les hommes que chez les femmes, que ce soit pour
        les caractéristiques physiques, physiologiques, psychiques ou comportementales. Bien que des différences notables
        existent au sein de chaque groupe, il apparaît que la dispersion des caractéristiques est, de façon systématique,
        moins marquée parmi les femmes que parmi les hommes.
    </p>
        <p>
Plusieurs interprétations scientifiques ont été avancées pour expliquer ce constat, notamment d’ordre évolutionniste. Chez
            les mammifères, les mâles jouent principalement le rôle d’agents de sélection, leur nombre étant moins déterminant
            pour la reproduction que celui des femelles. Par ailleurs, la constitution génétique masculine (hétérogamétie XY)
            limite les mécanismes de compensation de l’expression des gènes, contrairement aux femmes (homogamétiques XX),
            qui bénéficient d’une redondance génétique. Cette particularité génétique expose davantage les hommes à l’expression
            de certains gènes, ce qui accroît à la fois le risque de maladies génétiques et la variabilité des phénotypes
            observés. Ce phénomène favorise ainsi une sélection naturelle plus marquée, permettant aux femelles de sélectionner
            plus efficacement les partenaires en fonction des caractéristiques exprimées.
    </p>
    <p>
        Au delà de la variance, vous pouvez faire augmenter la distance et vous rendre compte que la différence de vitesse
        moyenne entre les hommes et les femmes diminue. Ceci est particuliérement bien expliqué dans ce blog     <a href="https://courir-mieux.fr/meilleure-endurance-femme-homme/" target="_blank" rel="noopener noreferrer">cet article sur l'endurance comparée hommes-femmes</a>.
    </p>
    </div>

{% endblock %}
