{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Distribution des vitesses</h1>
{{ refresh_interval|default:"25000"|json_script:"refresh_interval" }}
    {{ total_count|default:"0"|json_script:"total_count" }}
    {{ loaded_count|default:"0"|json_script:"loaded_count" }}
    {{ min_distance|default:"5000"|json_script:"min_distance" }}
    {{ max_distance|default:"10000"|json_script:"max_distance" }}
    {{ is_update|default:False|json_script:"is_update" }}
<div style="display: none;">
    <span id="refresh_interval">{{ refresh_interval|default:"25000" }}</span>
    <span id="total_count">{{ total_count|default:"0" }}</span>
    <span id="loaded_count">{{ loaded_count|default:"0" }}</span>
    <span id="min_distance">{{ min_distance|default:"5000" }}</span>
    <span id="max_distance">{{ max_distance|default:"10000"}}</span>
</div>
<script>
window.isRefreshing = false;
console.log('window.chartConfig initialized');
</script>
    <script src="{% static 'js/chartConfig.js' %}"></script>
<script src="{% static 'plotly.js-dist/plotly.js' %}"></script>
      <script src="{% static 'js/updateCountdown.js' %}"></script>
<div class="range-container" style="width: 50%; margin: 20px auto;">
  <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
  <script src="{% static 'js/nouislider.min.js' %}"></script>
  <div id="slider"></div>
  <div id="slider-values">5 km - 10 km</div>
  <button id="submit-filter">Appliquer le filtre</button>
</div>

<script>
function resetContainer() {
    const container = document.getElementById('chart-container');
    const progressinfo = document.getElementById('progress-info');
    const countdown = document.getElementById('countdown');
    if (container) {
        container.innerHTML = '';
    }
    if (progressinfo) {
        progressinfo.innerHTML = '';
    }
    if (countdown) {
        countdown.innerHTML = '';
    }
}
document.addEventListener('DOMContentLoaded', function() {
    var slider = document.getElementById('slider');
    var sliderValues = document.getElementById('slider-values');

    noUiSlider.create(slider, {
        start: [5, 10],
        connect: true,
        range: {
            'min': 900,
            'max': 60000
        },
        step: 100,
        format: {
            to: function (value) {
                return Math.round(value / 1000 * 10) / 10 + ' km';
            },
            from: function (value) {
                return value.replace(' km', '') * 1000;
            }
        }
    });

    slider.noUiSlider.on('update', function (values) {
        sliderValues.innerHTML = values.join(' - ');
    });
const observer = new MutationObserver((mutations) => {
  mutations.forEach((mutation) => {
    console.log("Changement détecté :", mutation);
  });
});
observer.observe(document.getElementById('global'), { childList: true, subtree: true });
document.getElementById('submit-filter').addEventListener('click', function () {
    window.isRefreshing = true; // Arrêter le rafraîchissement


    var values = slider.noUiSlider.get();
    var minDistance = parseFloat(values[0]) * 1000;
    var maxDistance = parseFloat(values[1]) * 1000;
    window.chartConfig.minDistance = minDistance;
    window.chartConfig.maxDistance = maxDistance;
    var url = new URL(window.location.href);
    url.searchParams.set('min_distance', minDistance);
    url.searchParams.set('max_distance', maxDistance);

    url.searchParams.set('action', 'submit');

    fetch(url, {
        method: 'GET',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })

.then(html => {
            if (html) {
                console.log('html',html)
                resetContainer();
                document.getElementById('global').innerHTML = html;
                const scripts = document.getElementById('chart-container').querySelectorAll('script');
                scripts.forEach(script => {
                  const newScript = document.createElement('script');
                  newScript.textContent = script.textContent;
                  document.body.appendChild(newScript);
                });

                // Mettre à jour window.chartConfig
                const loadedCount = document.getElementById('loaded-count');
                const totalCount = document.getElementById('total-count');
                const refreshInterval = document.getElementById('refresh-interval');
                console.log('loadedCount', loadedCount)
                console.log('totalCount', totalCount)
                console.log('refreshInterval', refreshInterval)
                if (loadedCount) window.chartConfig.loadedCount = parseInt(loadedCount.textContent);
                if (totalCount) window.chartConfig.totalCount = parseInt(totalCount.textContent);
                if (refreshInterval) window.chartConfig.refreshInterval = parseInt(refreshInterval.textContent);

                document.getElementById('loaded-count').textContent =  window.chartConfig.loadedCount;
                document.getElementById('total-count').textContent =  window.chartConfig.totalCount;
                window.isRefreshing = false;
                // Obtenir l'élément de compte à rebours
                const countdownElement = document.getElementById('countdown');

                // Effacer le contenu existant
                if (countdownElement) {
                    countdownElement.innerHTML = '';
                }

                // Relancer le compte à rebours à partir de zéro
                updateCountdown({
                    countdown: Math.floor(window.chartConfig.refreshInterval / 1000),
                    message: "Prochaine mise à jour dans {seconds} secondes"
                }, countdownElement, fetchUpdates);  // Ajouter fetchUpdates comme callback
            } else {
                console.error('Unexpected response format');
            }

        });
    });
})
</script>
    <div id="global" style="width: 100%; height: 620px;">
    {% include 'graph/partial_vitesse_distribution.html' %}
</div>


{% endblock %}
