.bubble {
    width: 200px;
    min-width: 100px;  /* Taille minimale en largeur */
    max-width: 400px;  /* Taille maximale en largeur */
    min-height: 100px; /* Taille minimale en hauteur */
    max-height: 300px; /* Taille maximale en hauteur */
    background-color: rgba(255, 255, 255, 0.7); /* Fond blanc semi-transparent */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: move;
    resize: both;
    overflow: auto;
    position: relative;
    transition: background-color 0.3s ease; /* Animation douce pour le changement de couleur */
    padding-left: 40px; /* Espace pour le numéro */

}

.bubble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place le pseudo-élément derrière le contenu */
    opacity: 0.3; /* Ajustez l'opacité selon vos préférences */
    transition: background-color 0.3s ease;
}


.bubble textarea {
    width: calc(100% - 20px); /* Ajustement pour le padding */
    height: calc(100% - 20px); /* Ajustement pour le padding */
    border: none;
    background: transparent;
    resize: none;
    overflow: auto; /* Changé de 'hidden' à 'auto' pour permettre le défilement si nécessaire */
    color: #000; /* Assurez-vous que le texte est toujours noir */
    position: relative;
    z-index: 1; /* Place le texte au-dessus du pseudo-élément */
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    touch-action: none;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
    background-color: #ccc;
    border-radius: 0 0 10px 0;
}

.bubble-number {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}

.bubble::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place le pseudo-élément derrière le contenu */
    opacity: 0.3; /* Ajustez l'opacité selon vos préférences */
    transition: background-color 0.3s ease;
}

.resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    cursor: se-resize;
    z-index: 2;
}

.delete-bubble {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
}
