/* home_styles.css */
html, body {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    clear: both; /* Force le footer sous tout le contenu */
}

#planet-foreground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
