{% extends "base.html" %}
{% block content %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation de la future application d'agriculture digitale</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/agri.css' %}">
    <h3>Introduction</h3>
    <p>Passionné par la science du végétal et ses mécanismes moléculaires, j'ai travaillé à l'INRAE et à Limagrain dans le
        cadre de recherches exploratoires visant à améliorer les qualités des plantes destinées à l'agriculture. Cette passion
        m'a mené à diverses conclusions concernant les besoins de l'agriculture et les technologies qui y sont rattachées.
        D'abord, l'agriculture fait face à toujours plus de demandes et de nombreux stress économiques et environnementaux
        lui sont d'années en années imposées, les agriculteurs ont besoin de technologies toujours plus sophistiquées pour
        répondre à ces contraintes. C'est pourquoi j'ai décidé de m'engager dans un double cursus alliant à la fois des
        compétences de pointes dans 'l'ingénieurie du végétale' et en datascience car c'est l'alliance de ces compétences
        qui est pour moi la clef de voute pour la résolution des problématiques concernant l'agriculture. <p></p>Ces problématiques
        peuvent concerner aussi bien la réduction des intrants que la recherche & développement dans l'amélioration variétale.
        C'est pourquoi j'ai décidé de créer cette application qui a partir d'images satellites de champs de diverses grandes
        cultures et sur divers territoires disponibles en open source de réaliser la prédiction du rendement ou l'évolution
        de divers indicateurs d'intérêt du champ. L'application développée aura pour objectif de montrer comment prédire
        du rendement par diverses méthodes de datascience allant de simple moteur de règles jusqu'à l'utilisation
        d'intelligence artificielle en passant par le machine et le deep learning. </p>
</body>
{% endblock %}