/* Applique l'image de fond à toute la page */
body {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
    height: 100vh; /* S'assure que le fond couvre toute la hauteur de la fenêtre */
    background-image: url('../images/fondchamps.jpg'); /* Chemin relatif vers l'image */ /* Remplacez 'image.jpg' par le chemin de votre image */
    background-size: cover; /* L'image couvre toute la page en gardant ses proportions */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.demo-button-container {
    text-align: center;
    margin-top: 20px;
}

.demo-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.demo-button:hover {
    background-color: #45a049;
}